p {
    background-color: rgb(219, 219, 110);
    font: 20px Arial, sans-serif;
}
.class1 {
    color:darkolivegreen
}
#id1 {
    color: coral;
}

body{
    background-color: darkgreen;
    color: #fff;    
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;

}

 ul.menu {
    list-style-type: none;
}

.menu li {
    display: inline;
    margin-right: 10px;
}

.main {
    margin: 100px auto;
    width: 1024px;
}
header
{
    width: 100%;
    height: 64px;
    background: beige;
}
footer
{
    background-color:olive ;
    padding: 32px;
    border-top: 1px;
    border-top-style: dotted;
    border-top-color: #fff;
    
}   